#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #4acaa8;
  color: #d2f2e9;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 23em;
  text-align: center;
}

#header > header {
  padding: 3em;
  border: 0;
}
#header > header .avatar {
  display: block;
  margin: 0 auto 2.25em auto;
  width: 8em;
}

#header > header h1 {
  color: white;
  font-size: 1.75em;
  margin: 0;
}

#header > header p {
  color: #d2f2e9;
  font-style: italic;
  margin: 1em 0 0 0;
}

#header a {
  color: #d2f2e9;
}

#header a:hover {
  color: #ffffff;
}

#header > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header > nav ul li {
  border-top: solid 2px #5ccfb1;
  display: block;
  padding: 0;
}

#header > nav ul li a {
  transition: none;
  border: 0;
  color: #ffffff;
  display: block;
  padding: 0.85em 0;
  text-decoration: none;
}

#header > nav ul li a:hover {
  background: #fff;
  color: #4acaa8;
}

#header > nav ul li:first-child {
  border-top: 0;
}

#header > footer {
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
}

#header > footer ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

#header > footer ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
  font-size: 1.25em;
}

#header > footer ul.icons li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 1680px) {
  #header {
    width: 21em;
  }

  #header > header {
    padding: 2em;
  }

  #header > footer {
    padding: 1.5em;
  }
}

@media screen and (max-width: 1280px) {
  #header {
    width: 20em;
  }
}

@media screen and (max-width: 1024px) {
  #header {
    display: none;
    width: 23em;
  }
}

@media screen and (max-width: 736px) {
  #header {
    width: 17em;
    right: 0;
  }
}
